* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li, a {
    padding: 1.5rem;
    list-style: none;
    text-decoration: none;
}