* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.toggle{
   position: absolute;
   top: 2rem;
   right: 1.5rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 2.5rem;
   height: 25px;
   padding: 0;
}

.toggle .bar{
   height: 6px;
   width: 100%;
   border-radius: 5px;
   background-color: #202023;
}

.text-content{
   width: 70%;
}

@font-face {
    font-family: "Alstoria";
    src: url("./font/Alstoria.ttf") format("truetype");
}

body{
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.order {
     display: flex;
     flex-direction: column;
     gap: .75rem;
     width: 97%;
 }

 p {
    font-size: 12px;
 }

 .main-article {
    display: flex;
    align-items: center;
    width: 1200px;
 }
 
 h1, h2 {
     font-family: "Alstoria", Arial, Helvetica, sans-serif;
 }

 .head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;

 }
 
 header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background-color: #f7f5e8;
     padding: 1.5rem;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

 main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.75rem;
    box-shadow: rgba(50, 50, 93, 0.025) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.05) 0px 18px 36px -18px inset; 
}

 .wrapper {
    background-color: #f7f5e8;
    width: 100%;
 }
 
 .quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

 ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
 li {
      padding-left: 1rem;
      align-items: center;
      list-style: none;
 }
 
 .wave {
    border-radius: 5px;
    box-shadow: rgba(61,80,102, 0.3) 5px 5px, rgba(61,80,102, 0.2) 10px 10px, rgba(61,80,102, 0.1) 15px 15px, rgba(61,80,102, 0.05) 20px 20px, rgba(61,80,102, 0.025) 25px 25px;
 }

 .selection{
    display: flex;
    justify-content: center;
 }

 img.clothes{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: .75rem;
 }

 img.clothes:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }

 .clothes-name{
    font-family: "Alstoria", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-style: italic;
 }

 .lineup {
    display: flex;
    align-items: center;
    gap: .25rem;
 }

 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 a {
     text-decoration: none;
     padding-bottom: 1rem;
 }

 a.nav:hover{
    color: #555;
    border-bottom: 2px solid #555;
 }

 a.fb:hover{
    color: #4e71ba ;
 }

 a.tw:hover{
    color: #00acee;
 }

 a.ig:hover{
    color: #E1306C;
 }

 .quote-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    max-width: 520px;
 }

 .author {
    display: flex;
    justify-content: flex-end;
 }

 a.nav:link, a.nav:visited {
    color: black;
 }

 button {
     width: fit-content;
     background-color: #0a2967;
     border-radius: 0.35em;
     padding: 0.5em;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-style: italic;
     border-color: white;
 }

 .order-now{
    color: white;
 }

 footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    max-width: 720px;
    background-color: #002e25;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 }

 h3 {
    padding-bottom: 1rem;
 }

 .follow {
    width: 40%;
    padding: 1rem;
 }

 .icons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    color: white;
 }

 .fb, .ig, .tw {
    color: white;
    font-size: 3rem;
    padding: 0;
 }

 .bottom {
    display: flex;
    justify-content: center;
 }

 @media (max-width: 700px){
   .toggle{
      display: flex;
   }
   .nav {
      display: none;
   }
   .main-article{
      display: flex;
      flex-direction: column;
      gap: .125rem;

   }
   .lineup {
      display: flex;
      flex-direction: column;
   }
   .wave {
      width: 95%;
   }
   .text-content{
      width: 90%;
      text-align: justify;
      margin-bottom: 1rem;
   }
   .title{
      padding-left: 1rem;
   }
   .order{
      align-items: center;
   }
}