* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Alstoria";
    src: url("./font/Alstoria.ttf") format("truetype");
}

body{
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.order {
     display: flex;
     flex-direction: column;
     gap: .75rem;
 }

 p {
    font-size: 12px;
 }

 .main-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 720px;
    gap: 5rem;
 }
 
 h1, h2 {
     font-family: "Alstoria", Arial, Helvetica, sans-serif;
 }
 header {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 10px;
     justify-content: space-between;
     background-color: #f7f5e8;
 }

 main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
 }

 .wrapper {
    background-color: #f7f5e8;
 }
 
 .quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 ul {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 
 li {
     padding: 12px;
     align-items: center;
     list-style: none;
 }
 
 a {
     text-decoration: none;
     padding-bottom: 3px;
 }

 a:hover{
    color: #555;
    border-bottom: 2px solid #555;
 }

 .quote-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 520px;
 }

 .author {
    display: flex;
    justify-content: flex-end;
 }

 a:link, a:visited {
    color: black;
 }

 button {
     width: fit-content;
 }
